@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
    margin: 0;
}

html,
body{
    display: grid;
    place-items: center;
    font-family: "roboto", sans-serif;
}
:root{
    --grey:#E1E1E6;
}
main{
    background:url(image/Mobile.svg) no-repeat center/cover ;
    width: 100vw;
    min-height: 812px;
    height: 100vh;
}
@media (min-width: 680px) {
 
    main{
        background:url(image/desktop.svg)  no-repeat center/cover ;
        width: 100vw;
        min-height: 812px;
        height: 100vh;
    }
    ul {
        margin-top: -12rem;
      }
}

.content{
    max-width: 250px;
    margin-left: auto ;
    margin-right: auto;
    text-align: center;
    color: var(--grey);

}

.avatar{
    width: 10rem;
    margin: 11.5rem auto 0;
    position: relative;
   
}
.avatar span{
    position: absolute;
    top:-15px;
    z-index: 1;
}
.avatar > img{
    width: 10rem;
    height: 11.5rem;
    object-fit: cover;
    clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);;
}

h1{
    font-size: 1.5rem;
    margin-top: 1.5rem;
}
a{
    color:var(--grey);
    text-decoration: none;
    position: relative;
    margin-top: 0.25rem;
}
a:hover{
    text-decoration: underline;
}
#knowledgeAreas{
    margin-top: 1.5rem;
    margin-bottom: 0;
    display: flex;
    gap: 0.3rem;
    justify-content: center;
}
 #knowledgeAreas img{
     height: 20px;
     width: 20px;
 }
  ul{
    text-decoration: none;
    margin-top: 1.5rem;
    padding: 0;
    list-style: none;
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    position: relative;
}
li{
    position: relative;
}
li:hover{
    box-shadow: 1px 1px 7px #ffffff;
    transition-duration: 0.3s;
    top: -2px;
}

p{
    margin-top: 2rem;
}
